# Demographic Filtering

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
meta = pd.read_csv('data/movies_metadata.csv')

C:\Users\lenovo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
vote_data = meta[['original_title','vote_average','vote_count']]

In [6]:
#agar adil dapat menggunakan weighted rating(WR)

In [7]:
vote_data['vote_average'].mean()

5.618207215133889

In [8]:
vote_data['vote_count'].mean()

109.89733831940167

In [9]:
def weighted_rating(row):
    v = row['vote_count']
    m = 1500
    r = row['vote_average']
    c = 5.6
    wr = ((v / (v+m))*r) + ((m / (v+m))*c)
    return wr

In [10]:
vote_data['score'] = vote_data.apply(weighted_rating,axis=1)

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
vote_data.sort_values(by='score',ascending=False).head(10)

,original_title,vote_average,vote_count,score
314,The Shawshank Redemption,8.5,8358.0,8.058734
12481,The Dark Knight,8.3,12269.0,8.005861
2843,Fight Club,8.3,9678.0,7.937681
834,The Godfather,8.5,6024.0,7.921850
292,Pulp Fiction,8.3,8670.0,7.901770
15480,Inception,8.1,14075.0,7.859230
22879,Interstellar,8.1,11187.0,7.804422
351,Forrest Gump,8.2,8147.0,7.795729
7000,The Lord of the Rings: The Return of the King,8.1,8226.0,7.714436
1154,The Empire Strikes Back,8.2,5998.0,7.679861

In [12]:
vote_data.sort_values(by='vote_count',ascending=False).head(10)

                original_title  vote_average  vote_count     score
15480                Inception           8.1     14075.0  7.859230
12481          The Dark Knight           8.3     12269.0  8.005861
14551                   Avatar           7.2     12114.0  7.023711
17818             The Avengers           7.4     12000.0  7.200000
26564                 Deadpool           7.4     11444.0  7.191409
22879             Interstellar           8.1     11187.0  7.804422
20051         Django Unchained           7.8     10297.0  7.520268
23753  Guardians of the Galaxy           7.9     10014.0  7.600365
2843                Fight Club           8.3      9678.0  7.937681
18244         The Hunger Games           6.9      9634.0  6.724861

# Content Based

##### Based on Genre

In [13]:
from ast import literal_eval

> convert string to list of objects with dictionary

In [14]:
literal_eval(meta['genres'].iloc[0])[0]['name']

'Animation'

In [15]:
cb_genres = meta[meta['vote_count'] > 300][['original_title','genres']]

In [16]:
cb_genres.reset_index(drop=True,inplace=True)

In [17]:
def new_genre(x):
    genres = []
    x = literal_eval(x)
    for item in x:
        genres.append(item['name'])
    return ' '.join(genres)

In [18]:
cb_genres['new_genre'] = cb_genres['genres'].apply(new_genre)

In [19]:
cb_genres.head()

,original_title,genres,new_genre
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Animation Comedy Family
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Adventure Fantasy Family
2,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Action Crime Drama Thriller
3,GoldenEye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",Adventure Action Thriller
4,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",Family Animation Adventure

In [20]:
len(cb_genres)

3032

> convert sparsematrix with countVectorizer

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv = CountVectorizer()
cv_genres_result = cv.fit_transform(cb_genres['new_genre'])

In [23]:
cv_df = pd.DataFrame(cv_genres_result.todense() , columns=cv.get_feature_names(), index=cb_genres['original_title'])

In [24]:
cv_df.head()

,action,adventure,animation,comedy,crime,documentary,drama,family,fantasy,fiction,...,horror,movie,music,mystery,romance,science,thriller,tv,war,western
original_title,,,,,,,,,,,,,,,,,,,,,
Toy Story,0,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Jumanji,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
Heat,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
GoldenEye,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Balto,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Measure Similarity
# Cosine Similarity

> Cosine Similarity

In [26]:
data_1 = 'animation comedy'
data_2 = 'animation adventure'
data_3 = 'horror comedy'
data_4 = 'animation'
data_5 = 'animation comedy'

In [27]:
data = [data_1,data_2,data_3,data_4,data_5]

In [28]:
data = pd.DataFrame(data,columns=['genre'], index=['movie 1','movie 2','movie 3','movie 4','movie 5',])

In [29]:
cv_2 = CountVectorizer()
cv_res = cv_2.fit_transform(data['genre'])

In [30]:
pd.DataFrame(cv_res.todense(),columns=cv_2.get_feature_names(),index=data.index)

         adventure  animation  comedy  horror
movie 1          0          1       1       0
movie 2          1          1       0       0
movie 3          0          0       1       1
movie 4          0          1       0       0
movie 5          0          1       1       0

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
cos_sim = cosine_similarity(cv_res)

In [33]:
pd.DataFrame(cos_sim , index=data.index,columns=data.index)

          movie 1   movie 2  movie 3   movie 4   movie 5
movie 1  1.000000  0.500000      0.5  0.707107  1.000000
movie 2  0.500000  1.000000      0.0  0.707107  0.500000
movie 3  0.500000  0.000000      1.0  0.000000  0.500000
movie 4  0.707107  0.707107      0.0  1.000000  0.707107
movie 5  1.000000  0.500000      0.5  0.707107  1.000000

> Simmilarity for our data

In [34]:
cos_sim_movie = cosine_similarity(cv_genres_result)

In [35]:
cb_genres[cb_genres['original_title']== 'Toy Story'].index

Int64Index([0], dtype='int64')

In [36]:
pd.Series(cos_sim_movie[0], index=cb_genres['original_title']).sort_values(ascending=False).head(10)

original_title
Toy Story                              1.0
The SpongeBob SquarePants Movie        1.0
Chicken Little                         1.0
Hoodwinked!                            1.0
Over the Hedge                         1.0
Garfield: A Tail of Two Kitties        1.0
Cloudy with a Chance of Meatballs 2    1.0
Meet the Robinsons                     1.0
How the Grinch Stole Christmas!        1.0
Surf's Up                              1.0
dtype: float64

In [37]:
def get_recommendation_based_genres(title):
    index_to_search = cb_genres[cb_genres['original_title']== title].index[0]
    series_similar = pd.Series(cos_sim_movie[index_to_search])
    index_similar = series_similar.sort_values(ascending=False).head(10).index
    return cb_genres.loc[index_similar]

In [38]:
get_recommendation_based_genres('Harry Potter and the Deathly Hallows: Part 2')

,original_title,genres,new_genre
1618,City of Ember,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
2007,Harry Potter and the Deathly Hallows: Part 2,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",Family Fantasy Adventure
1299,Harry Potter and the Goblet of Fire,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Adventure Fantasy Family
2901,Pete's Dragon,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
862,Harry Potter and the Philosopher's Stone,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Adventure Fantasy Family
165,The Wizard of Oz,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
2666,Pan,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
1577,The Chronicles of Narnia: Prince Caspian,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
402,Labyrinth,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy
1303,"The Chronicles of Narnia: The Lion, the Witch ...","[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Adventure Family Fantasy

## Based on Cast and Director

In [39]:
credits = pd.read_csv('data/credits.csv')

In [40]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [41]:
id_movies = pd.to_numeric(meta[meta['vote_count'] > 300]['id'])
cb_genres['id'] = id_movies

In [42]:
cb_genres_cast_crew = cb_genres.merge(credits,on='id')